<!DOCTYPE html>
<html>
<head>
  <title>Vangst</title>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'/>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css'/>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
</head>
  <body>
    <div class="background"></div>
    <div class="thankyou">
      <h1>Thank You!</h1>
    </div>
    <div>
      <img id="image3" src="images/vangst3.jpg" alt="" />
    </div>
  </body>
</html>
